body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:black;
    text-align: left;
    padding-left: 40%;
    padding-top: 10%;
    font-size: 25px;
    color:#20C20E;
}